---
import Layout from '../layouts/Layout.astro';
import Map from '../components/Map.astro';
---

<Layout title="Borgo Guglielmo">
	<main>
		<Map />
	</main>
</Layout>

<style>
	main {
		position: fixed;
		inset: 0;
		overflow: hidden;
	}
</style>
